body {
	background-color: #f6f6f6;
}

strong {
	font-weight: 1200;
}

li{
	line-height: 45px;
	list-style: none;
}

div{
	border: 1px dashed black;
}

.error{
	color: red;
	font-style: bold;
}

.hidden{
	display: none;
}



#container {
	width: 500px;
	margin: 100px auto;
}

h1 {
	font-family: 'Bitter', serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 1400;
	font-style: bold;
}


a{
 	color: #f36c21;
 	text-decoration: none;
}

a:hover, button:hover{
	color: #f68c51;
}


a:visited{
	color: #f36c21
	text-
}

.moovle{
	letter-spacing: 7px;

}

.form{
	width: 620px;
	margin: auto;
}

.btn{
	float: left;
	margin-left: 10px;
	box-shadow: 2px 5px 10px 10px #ccc;
}

form input[type="text"] {
	float:left;
	margin: 0 auto;
	width: 400px;
}

#search_box{
	margin-left: 10px;
}

#search_results{
	float: left;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

#movie_data{
	width: 50%;
	float: left;
}

div.list{
	width: 45%;
	margin: auto;
	padding-left: 0;
	margin-left: 0;
	display: non;
}



.center{
	margin: auto;
}

.search_box{
	margin-bottom: 0px;
}

.search_details{
	width: 800px;
	margin: auto;
}
