div{
	border: 1px dashed black;
}

.error{
	color: red;
	font-style: bold;
}

.hidden{
	display: none;
}

body {
	background-color: #f6f6f6;
}

strong {
	font-weight: 800;
}

#home {
	width: 500px;
	margin: 100px auto;
}

h1 {
	font-family: 'Bitter', serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 1400;
	font-style: bold;
}


a{
 	color: #f36c21;
 	text-decoration: none;
}

a:hover, button:hover{
	color: #f68c51;
}


a:visited{
	color: #f36c21
	text-
}

.moovle{
	letter-spacing: 7px;

}

.form{
	width: 620px;
	margin: auto;
}

.btn{
	float: left;
	margin-left: 10px;
	box-shadow: 2px 5px 10px 10px #ccc;
}

form input[type="text"] {
	float:left;
	margin-bottom: 0;
	width: 400px;
}

div.list{
	width: 500px;
	margin: auto;
}


.center{
	margin: auto;
}

.search_box{
	margin-bottom: 0px;
}

.search_details{
	width: 800px;
	margin: auto;
}
